*{
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;


}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
    zoom: 2

}

.main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.entrada {
    margin-top: 90px;
}

.resultado {
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagens/criptografia_2.png");
    background-repeat: no-repeat;
 
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
 }

 .encriptar{
    background-color: darkblue;
    color: white;
    
 }

 .desencriptar{
     margin-left: 30px;

 }

 .copiar{
    background-color: darkblue;
    color: white;
 }

.informacao {
    font-size: 15px;

}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;

}
footer#rodape p{
    text-align: center;
}


header#cabecalho img#icone {
    position: relative;
    left: 20 px;
    top: 25 px;
}
header#cabecalho {
    border-bottom: 1px #606060 double;
    height: 100px;
    background-color: darkblue;
    color: white;
    text-align-last: center;

}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 15pt;
    padding: 10px;
    margin-top: 5px;
    text-align-last: center;
    background: #606060;
}
